section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(/src/image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section div div.p.#info1{
  font-size: small;
}